@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: url("/images/bg.png");
  display: block;

  align-items: center;
  justify-content: center;

  margin-top: 10px;
}
.fixed-top {
  background: #fff;
}

.email-input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px 15px;
  background: #ccc;
  border: none;
  outline: 0;
}

.email-input:focus {
  border: none;
  outline: 0;
}

.navbar.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
@media screen and (min-width: 576px) {
  .fixed-top {
    background: none;
  }
}
.container {
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 120px;
  margin-bottom: 80px;
}
.container .content1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content1 .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content1 .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content1 .left-side .details {
  margin: 33px;
  text-align: center;
}
.content1 .left-side .details i {
  font-size: 30px;
  color: #e68517;
  margin-bottom: 10px;
}
.content1 .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content1 .left-side .details .text-one,
.content1 .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}
.container .content1 .right-side {
  width: 75%;
  margin-left: 75px;
}
.content1 .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #4d4541;
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"] {
  color: #4d4541;
  font-size: 18px;
  background: transparent;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover {
  border: 2px solid var(--primary);
  color: var(--primary);
}

.fa {
  /* padding: 20px;
  font-size: 25px;
  width: 50px; */
  text-align: center;
  text-decoration: none;
  margin: 4px 3px;
}

.fa:hover {
  text-decoration: none;
}

.footer-social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.facebook {
  width: 40px;
  opacity: 0.5;
}

.facebook:hover {
  opacity: 1;
}

.insta {
  width: 40px;
  opacity: 0.5;
}

.insta:hover {
  opacity: 1;
}

@media (max-width: 850px) {
  .container {
    width: 90%;
    padding: 1px 4px 4px 3px;
  }
  .container .content1 .right-side {
    width: 80%;
    margin-left: 55px;
  }
}
@media (max-width: 750px) {
  .container {
    margin: 109px 19px;
    height: 100%;
    padding: 30px;
  }
  .container .content1 {
    flex-direction: column-reverse;
  }
  .container .content1 .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content1 .left-side::before {
    display: none;
  }
  .container .content1 .right-side {
    width: 100%;
    margin-left: 0;
  }
}
.sticky-footer {
  position: sticky;
  top: 100%;
}
.Terms {
  font-family: "poppins, Sans-serif";
  text-align: justify;
  font-size: 16px;
}
.Terms-heading {
  text-align: center;
}
.text-uppercase {
  text-align: center;
}
.faq-footer {
  font-family: "poppins, Sans-serif";
  text-align: center;
}
.contact-footer {
  font-family: "poppins, Sans-serif";
  text-align: justify;
}
@media screen and (min-width: 576px) {
  .Terms {
    font-family: "poppins, Sans-serif";
    text-align: justify;
  }
  .text-uppercase {
    text-align: center;
  }
}
